body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: hsl(30, 38%, 92%);

}

:root {
    --primary-color: hsl(158, 36%, 37%);
    --secondary-color: hsl(30, 38%, 92%);

    /*Nuetral colors*/
    --very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}


.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    /* Optional: Add a background color to the main section */
    padding: 0px;
    /* Optional: Add padding around the main section */
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: Add a shadow effect */
    border-radius: 8px;
    /* Optional: Add rounded corners */
}

.product-img {
    width: 100%;
    height: auto;
}

.heading {
    font-family: 'Fraunces', sans-serif;
    font-size: 30px;
   
}


/*Phone screen*/
@media only screen and (max-width: 600px) {
    .product-img {
        content: url('/images/image-product-mobile.jpg');
        width: 380px;
        height: 300px;
        border-top-right-radius:10px;
        border-top-left-radius:10px;

    }

    #item-title {
      color: var(--Dark-grayish-blue);
      margin-left: 10px;
      letter-spacing: 4px;
      font-size: 13px;
     
    }

    .heading {
        font-size: 16px;
        line-height:2rem;
        font-weight: 700;
        margin-top: -30px;
        margin-left: 10px;
        padding-top: 8px;
    }

    #heading-1 {
        margin-bottom:-15px;
    }

    .description {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 350px;
       
    }

    .p-main {
        font-family: 'Montserrat';
        color: var(--Dark-grayish-blue);
        font-size: 14px;
        line-height: 1rem;
        font-weight: 500;
        margin-left: 10px;
        padding-bottom: 25px;
    }

    .p-main p {
        margin-bottom: -4px;
    }

    .pricepoint {
        font-size: 27px;
        font-family: "Fraunces",sans-serif;
        font-weight: 700;
        color:var(--primary-color);
        margin-left: 15px;
        float:left ;
    }

    .old-price {
        float:center;
        color: var(--Dark-grayish-blue);
        text-decoration: line-through;
        padding-left: 155px;
        padding-top: 5px;
        
    }

    .cart-btn {
        background-color: var(--primary-color);
        border: none;
        color: white;
        width: 250px;
        padding: 15px;
        border-radius: 10px;
        text-align: center; 
        display: inline-block;
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .cart-div{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

/*Tablet Screen*/

@media only screen and (min-width: 601px) {
    body {
        background-color: hsl(30, 38%, 92%);
    }

    .main-section {
        flex-direction: row;
        max-width: 800px;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
    }

    #item-title {
        color: var(--Dark-grayish-blue);
        letter-spacing: 4px;
        font-size: 14px;
        padding-left:0;
        text-align: left;
        margin-bottom: 0px;
    
    }
    .banner {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 100%;
       
        
    }

    .product-img {
        content: url(/images/image-product-desktop.jpg);
        width: 85%;
       /* margin-right: 30px; /*was 70px*/
        margin-left:-70px;
        height: auto;
        border-radius: 0; 
    }

   

    .description {
        flex: 1;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
    }


    .heading {
        font-size: 19px;
        line-height: .9em;
        font-weight: 700;
        padding-top: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: left;
    }

    .p-main {
        font-family: 'Montserrat', sans-serif;
        color: var(--Dark-grayish-blue);
        font-size: 15px;
        line-height: .5em;
        padding-right: 50px;
        font-weight: 500;
        padding-top: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: left;
    }

    .pricepoint {
        font-size: 32px;
        font-family: "Fraunces", sans-serif;
        font-weight: 700;
        color: var(--primary-color);
        margin-bottom: 10px;
        text-align: left;
    }

    .old-price {
        color: var(--Dark-grayish-blue);
        text-decoration: line-through;
        margin-bottom: 20px;
        margin-left: 25px;
        text-align: left;
    }

    .cart-div {
        display: flex;
        justify-content: flex-start;
    }

    .cart-btn {
        background-color: var(--primary-color);
        width: 90%;
        margin-right: 70px;
        padding: 15px;
        border-radius: 10px;
        padding-bottom: 10px;
        height: 55px;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
       
    }
}